<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    package="com.example.heal">

    <dist:module dist:instant="true" />

    <uses-permission android:name="android.permission.INTERNET" />


    <application
        android:usesCleartextTraffic="true"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".evaluationResultsActivity"
            android:parentActivityName=".appMainActivity"/>
        <activity
            android:name=".diceasesHistActivity"
            android:label="@string/title_activity_diceases_hist"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".bloodTestActivity"
            android:parentActivityName=".healthHistoryActivity" />
        <activity
            android:name=".basicHealtInfoActivity"
            android:parentActivityName=".healthHistoryActivity" />
        <activity
            android:name=".healthHistoryActivity"
            android:parentActivityName=".appMainActivity" />
        <activity android:name=".appMainActivity" />
        <activity android:name=".createNewAccountActivity" />
        <activity android:name=".discliamActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>